html {
  font-family: "Readex Pro", sans-serif;
  font-family: "Itim", cursive;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100%;
}

body {
  min-height: 100vh;
  height: 100%;
  min-width: 325px;
  overflow-x: hidden;
  background-color:#F8F9FD; 
}

.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
} 


.container {
  max-width: 1440px;
  padding: 0 100px;
  margin: 0 auto;
  animation-name: opacityanim;
  animation-duration: 1s;
  @media screen and (max-width: 768px) {
      padding: 0 25px;
  }
}


@keyframes opacityanim {
  from {opacity: 0;}
  to {opacity: 1;}
}




textarea {
	animation-name: opacityanim;
  	animation-duration: 1s;
	font-family: 'Readex Pro';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	transition: 0.3s ease-in-out;
	width: 100%;
  height: 90px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid #4482E9;
  background-color: transparent;
  font-size: 16px;
  resize: none;
  &:focus{
	outline: none;
	box-shadow: rgba(68, 130, 233, 0.4) 0px 8px 24px;
  }
}

