html {
  font-family: "Readex Pro", sans-serif;
  font-family: "Itim", cursive;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100%;
}

body {
  min-height: 100vh;
  height: 100%;
  min-width: 325px;
  overflow-x: hidden;
  background-color:#F8F9FD; 
}

.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
} 


.container {
  max-width: 1440px;
  padding: 0 100px;
  margin: 0 auto;
  animation-name: opacityanim;
  animation-duration: 1s;
  @media screen and (max-width: 768px) {
      padding: 0 25px;
  }
}


@keyframes opacityanim {
  from {opacity: 0;}
  to {opacity: 1;}
}


input {
  border: 2px solid #4482E9;
  border-radius: 20px;
  background-color: transparent;
  padding: 16px 40px;
  max-width: 386px;
}


.control {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 15px;
	cursor: pointer;
	font-size: 18px;
	input {
		position: absolute;
		z-index: -1;
		opacity: 0;
		&:checked {
			& ~ .control__indicator {
				background: $color--primary;
				&:after {
					display: block;
				}
			}
		}
		&:disabled {
			& ~ .control__indicator {
				background: $color--light-grey;
				opacity: 0.6;
				pointer-events: none;
			}
		}
	}
}
.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	height: 20px;
	width: 20px;
	background: $color--light-grey;
	&:after {
		content: '';
		position: absolute;
		display: none;
	}
}
.control--radio {
	.control__indicator {
		border-radius: 50%;
		&:after {
			left: 7px;
			top: 7px;
			height: 6px;
			width: 6px;
			border-radius: 50%;
			background: $color--white;
		}
	}
	input {
		&:disabled {
			& ~ .control__indicator {
				&:after {
					background: $color--dark-grey;
				}
			}
		}
	}
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: $color--grey;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: $color--secondary;
}
.control--checkbox {
	.control__indicator {
		&:after {
			left: 8px;
			top: 4px;
			width: 3px;
			height: 8px;
			border: solid $color--white;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
		}
	}
	input {
		&:disabled {
			& ~ .control__indicator {
				&:after {
					border-color: $color--dark-grey;
				}
			}
		}
	}
}
