html {
  font-family: "Readex Pro", sans-serif;
  font-family: "Itim", cursive;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100%;
}

body {
  min-height: 100vh;
  height: 100%;
  min-width: 325px;
  overflow-x: hidden;
  background-color:#F8F9FD; 
}

.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
} 


.container {
  max-width: 1440px;
  padding: 0 100px;
  margin: 0 auto;
  animation-name: opacityanim;
  animation-duration: 1s;
  @media screen and (max-width: 768px) {
      padding: 0 25px;
  }
}


@keyframes opacityanim {
  from {opacity: 0;}
  to {opacity: 1;}
}


input {
  border: 2px solid #4482E9;
  border-radius: 20px;
  background-color: transparent;
  padding: 16px 40px;
  max-width: 386px;
}