
h2 {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: $black-main;
    
    @media screen and (max-width: 768px) {
        font-size: 24px;
    }
}


h3 {
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: $black-main;

    @media screen and (max-width: 768px) {
        font-size: 20px;
    }
}