$black-main:#2F3336;
$white: #FFFFFF;
$blue-black:#22385C;
$blue-background:#DBEBF8;
$blue-main:#4482E9;
$grey-text:#686F7A;


$color--white : #FFFFFF;
$color--black : #000000;
$color--light-grey : #E6E6E6;
$color--grey : #CCCCCC;
$color--dark-grey : #7B7B7B;
$color--primary : #2AA1C0;
$color--secondary : #0E647D;