

.form {
    &__title{
        margin-bottom: 68px;
    }


    &__name{
        margin-bottom: 60px;
    }

    &__container{
        margin-top: 80px;
        margin-bottom: 130px;
        max-width: 832px;
    }

    &__childtitle{
        margin-bottom: 35px;
    }

    &__dates {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 51px;
        margin-bottom: 63px;

        &-item{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 16px;
            font-family: 'Readex Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.01em;
            color: #000000;
        }
    }

    &__child-gender{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;

        &-checkbox{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 48px;
        }
    }
    
    &__title{
        text-align: center;
    }
}


.parentinfo{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    margin-bottom: 50px;

    &__main{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;

    }

    &__main-item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        input {
            border: 2px solid #4482E9;
            border-radius: 20px;
            background-color: transparent;
            padding: 16px 40px;
            width: 100%;
            min-width: 386px;
            box-sizing: border-box;
            
            transition: 0.3s ease-in-out;
            font-family: 'Readex Pro';
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 24px;
          
              letter-spacing: 0.01em;
              color: #2F3336;
          
            &:focus{
              outline: none;
              box-shadow: rgba(68, 130, 233, 0.4) 0px 8px 24px;
            }

            @media screen and (max-width: 1024px) {
                min-width: 312px;
             }
          }

        label {
            font-family: 'Readex Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #686F7A;
        }
    }

    &__help{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    &__help-text{
        font-family: Readex Pro;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.01em;
        text-align: left;
        color: $black-main;
        @media screen and (max-width: 768px) {
           font-size: 16px;
           line-height: 22px;
        }

    }

    &__help-radio{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        p{
                font-family: 'Readex Pro';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #686F7A;
        }
        label{
            font-family: 'Readex Pro';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
        }
    }

    &__help-no{
        margin-left: 48px;
        margin-bottom: 40px;
    }
}

.childreninfo{
    
    .childreninfo__title{
        margin-bottom: 40px;
    }

    &__checkboxes{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 40px;
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #000000;
        margin-bottom: 40px;
    }

    &__checkboxes-item{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
    }

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #DBEBF8; 
        border-radius: 20px;
        margin-bottom: 40px;

        p{  
            padding: 15px;
            font-family: 'Itim';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #686F7A;
        }
        
    }

    &__header-dell{
        padding: 15px;
        cursor: pointer;
        
        transition: 0.3s;
        &:hover{
            transform: scale(1.1);
        }
    }

    &__main{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;
        margin-bottom: 40px;
    }

   
 


    &__main-item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        input {
            border: 2px solid #4482E9;
            border-radius: 20px;
            background-color: transparent;
            padding: 16px 40px;
            width: 100%;
            min-width: 386px;
            box-sizing: border-box;
            
            transition: 0.3s ease-in-out;
            font-family: 'Readex Pro';
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 24px;
          
              letter-spacing: 0.01em;
              color: #2F3336;
          
            &:focus{
              outline: none;
              box-shadow: rgba(68, 130, 233, 0.4) 0px 8px 24px;
            }

            @media screen and (max-width: 1024px) {
                min-width: 312px;
             }
          }

        p {
            font-family: 'Readex Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #686F7A;
        }
    }


    &__gender{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        p {
            font-family: 'Readex Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #686F7A;
        }

        &-radio{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 48px;

            label {
                font-family: 'Readex Pro';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #000000;
        
            }
        }
    }

    &__cuaet{
        margin-top: 30px;
        margin-bottom: 18px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        p {
            font-family: 'Readex Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #686F7A;
        }

    
        &-radio{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 48px;
            
            label {
                font-family: 'Readex Pro';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #000000;
            }
        }
    }
}

.childreninfo__cuaet-date{
        animation-name: opacityanim;
        animation-duration: 1s;
        border: 2px solid #4482E9;
        border-radius: 20px;
        background-color: transparent;
        padding: 16px 40px;
        width: 100%;
        min-width: 386px;
        box-sizing: border-box;
        
        transition: 0.3s ease-in-out;
        font-family: 'Readex Pro';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
      
          letter-spacing: 0.01em;
          color: #2F3336;
      
        &:focus{
          outline: none;
          box-shadow: rgba(68, 130, 233, 0.4) 0px 8px 24px;
        }

        @media screen and (max-width: 1024px) {
            min-width: 312px;
         }


    p {
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #686F7A;
    }

  
}