
.parents{
  

    &__title{
        text-align: center;
        animation-name: opacityanim;
        animation-duration: 1s;
        margin-top: 80px;
        margin-bottom: 64px ;
        @media screen and (max-width: 768px) {
            margin-top: 64px;
            margin-bottom: 40px;
        }
    }
    

    &__text{
        animation-name: opacityanim;
        animation-duration: 1s;
        max-width: 700px;
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.01em;
        margin-bottom: 80px;
        color: $black-main;

        @media screen and (max-width: 768px) {
            font-size: 16px;
        }
                
        ul {
            list-style-type: disc;
            display: flex;
            flex-direction: column;
            gap: 20px;
           
        }

    }


}

@keyframes opacityanim {
    from {opacity: 0;}
    to {opacity: 1;}
}
