

.hero {
    &__container{
        margin-top: 140px;
        margin-bottom: 200px;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

   &__img{
        position: absolute;
        bottom:-60px;
        right:-10%;
        padding-left: 60px;
   }

    &__text{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__title{
        font-family: 'Luckiest Guy';
        font-style: normal;
        font-weight: 400;
        font-size: 86px;
        line-height: 100px;
        color: $blue-main;
        text-transform: capitalize;
    }

    &__subtitle{
        font-family: 'Luckiest Guy';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 56px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: $blue-black;
    }

    &__description {
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: $black-main;
    }
}



.apply{

    &__title{
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 34px;
        color: $black-main;
    }


    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 58px;
        margin-bottom: 160px;
    }

    &__cards{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 40px;
    }
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    

    &__title{
        
        font-family: 'Itim';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        color: $black-main;
    }

    &__subtitle{
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding-top: 16px;
        max-width: 387px;
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color:$grey-text;
    }
}



.experience{
    &__container{
        margin-bottom: 120px;
    }

   &__title{
        text-align: center;
        padding-bottom: 80px;
   }
    
    &__main{
        display: flex;
        justify-content: end;
    }

    
    &__title{
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 34px;
        color: $black-main;
    }

    &__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        max-width: 600px;
    }

    &__text-header{
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: $black-main;
    }

    &__item{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 9px;
    }
}

.item{
    &__title{
        font-family: 'Itim';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        color: $black-main;
    }

    &__text{
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color:$grey-text ;
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
}